<section class="about">
    <div class="container">
    <h2>Chi siamo</h2>
        <p>
            <strong>COCKTAILDB</strong> è una piattaforma dedicata agli appassionati di cocktail. La nostra missione è fornire un'esperienza unica per scoprire, esplorare e creare cocktail grazie ai dati forniti dall'API <a href="https://www.thecocktaildb.com/api.php" target="_blank">The Cocktail DB</a>.
        </p>
        <p>
            Ti aiutiamo a scoprire il tuo prossimo cocktail preferito.
        </p>
        </div>
</section>