<section class="contact">
    <div class="container">
    <h2>Contatti</h1>
        <p>
            Per qualsiasi domanda, commento o suggerimento, puoi contattarmi ai seguenti recapiti:
        </p>
        <ul class="contact-list">
            <li>GitHub: <a href="https://github.com/ppaola888" target="_blank">Il mio profilo</a></li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/paolaperuzzi84/" target="_blank">Pagina LinkedIn</a></li>
        </ul>
    </div>

    </section>