<section class="home">
    <div class="overlay text-center">
        <h1 title="heading1">Benvenuti in Cocktail DB</h1>
        <p>Scopri la nostra selezione unica di cocktails e trova il tuo preferito!</p>

        <button id="randomCocktail" class="btn btn-primary">Scopri random Cocktail</button>

        <div id="randomCocktailContainer" style="display:none;">
            <div class="random-cocktail">
                <h2 id="cocktailTitle"></h2>
                <p id="cocktailInstructions"></p>
                <img id="cocktailImage" alt="Cocktail Image">
            </div>
        </div>
    </div>
</section>

<script src="/js/script.js"></script>


